Repository MillenniumEarl/YAM, pull requests merged in 2020-12, with the labels that each got.

#48 Window fit content
  app/electron/messagebox/messagebox-renderer.js
  app/src/scripts/window-creator.js
  app/src/styles/messagebox.css
Labels: backend

#49 Window fit content
  app/electron/messagebox/messagebox-renderer.js
  app/src/scripts/window-creator.js
  app/src/styles/messagebox.css
Labels: backend

#50 Grid cards
  app/electron/main/main-preload.js
  app/electron/main/main-renderer.js
  app/src/components/card-paginator/card-paginator.html
  app/src/components/card-paginator/card-paginator.js
  app/src/index.html
  app/src/scripts/window-creator.js
  app/src/styles/main.css
Labels: backend

#51 Recommendation engine
  app/app.js
  app/db/schemas/game-data.js
  app/electron/main/main-preload.js
  app/electron/main/main-renderer.js
  app/src/components/game-card/game-card.js
  app/src/scripts/classes/game-info-extended.js
  app/src/scripts/classes/recommendation-engine.js
  app/src/scripts/io-operations.js
Labels: backend

#52 Adding games better workflow
  app/electron/main/main-renderer.js
  app/src/components/card-paginator/card-paginator.js
  app/src/components/game-card/game-card.js
  app/src/components/recommended-card/recommended-card.html
  app/src/styles/recommended-card.css
Labels: Back-end, Component

#58 Better error handling
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/labeler.yml
  .github/stale.yml
  .github/workflows/issue-label.yml
  .github/workflows/pr-label.yml
  app/app.js
  app/electron/login/login-preload.js
  app/electron/login/login-renderer.js
  app/electron/main/main-preload.js
  app/electron/main/main-renderer.js
  app/electron/messagebox/messagebox-preload.js
  app/electron/messagebox/messagebox-renderer.js
  app/electron/update-messagebox/um-preload.js
  app/electron/update-messagebox/um-renderer.js
  app/electron/url-input/url-input-preload.js
  app/electron/url-input/url-input-renderer.js
  app/src/components/card-paginator/card-paginator.js
  app/src/components/game-card/game-card.js
  app/src/components/recommended-card/recommended-card.js
  app/src/components/thread-visualizer/thread-visualizer.js
  app/src/components/user-info/user-info.js
  app/src/scripts/error-manger.js
  app/src/scripts/network-helper.js
  package-lock.json
  package.json
  resources/default-buttons.json
  resources/lang/de.json
  resources/lang/en.json
  resources/lang/es.json
  resources/lang/fr.json
  resources/lang/it.json
  resources/lang/nl.json
  resources/lang/pt.json
  resources/lang/ru.json
  resources/lang/zh.json
Labels: backend, component, language

#60 Update name only when saving
  app/src/components/game-card/game-card.js
Labels: component

#61 Fix invalid datetime
  app/src/components/recommended-card/recommended-card.js
  package-lock.json
  package.json
Labels: component

#64 Unhandled promises
  app/app.js
  app/electron/login/login-renderer.js
  app/electron/main/main-renderer.js
  app/electron/messagebox/messagebox-renderer.js
  app/electron/update-messagebox/um-renderer.js
  app/electron/url-input/url-input-renderer.js
  app/src/components/card-paginator/card-paginator.js
  app/src/components/game-card/game-card.js
  app/src/components/recommended-card/recommended-card.js
  app/src/components/thread-visualizer/thread-visualizer.js
  app/src/scripts/classes/recommendation-engine.js
  app/src/scripts/error-manger.js
  app/src/scripts/io-operations.js
  app/src/scripts/localization.js
  app/src/scripts/network-helper.js
  app/src/scripts/save-files-finder.js
Labels: backend, component

#65 Dutch: Patch 003
  resources/lang/nl.json
Labels: language

#70 Error codes
  .github/workflows/codeql-analysis.yml
  app/app.js
  app/electron/login/login-preload.js
  app/electron/login/login-renderer.js
  app/electron/main/main-preload.js
  app/electron/main/main-renderer.js
  app/electron/messagebox/messagebox-preload.js
  app/electron/messagebox/messagebox-renderer.js
  app/electron/update-messagebox/um-preload.js
  app/electron/update-messagebox/um-renderer.js
  app/electron/url-input/url-input-preload.js
  app/electron/url-input/url-input-renderer.js
  app/src/components/card-paginator/card-paginator.js
  app/src/components/game-card/game-card.js
  app/src/components/recommended-card/recommended-card.js
  app/src/components/thread-visualizer/thread-visualizer.js
  app/src/components/user-info/user-info.js
  app/src/scripts/cards-sorter.js
  app/src/scripts/classes/game-info-extended.js
  app/src/scripts/classes/recommendation-engine.js
  app/src/scripts/error-manger.js
  app/src/scripts/io-operations.js
  app/src/scripts/save-files-finder.js
  app/src/scripts/window-creator.js
  docs/ERROR_CODES.md
Labels: backend, component, documentation

#74 Add first/last buttons
  app/src/components/card-paginator/card-paginator.js
Labels: component

#73 Reset update cache
  app/app.js
  app/db/stores/game-data-store.js
  app/db/stores/thread-data-store.js
  app/electron/main/main-preload.js
  app/electron/main/main-renderer.js
  app/src/components/game-card/game-card.js
  app/src/index.html
  resources/lang/de.json
  resources/lang/en.json
  resources/lang/es.json
  resources/lang/fr.json
  resources/lang/it.json
  resources/lang/nl.json
  resources/lang/pt.json
  resources/lang/ru.json
  resources/lang/zh.json
Labels: backend, component, database, language

#76 Devtools and menubar
  app/app.js
  app/electron/main/main-preload.js
  app/electron/main/main-renderer.js
  app/src/index.html
  app/src/scripts/window-creator.js
  app/src/styles/global.css
  app/src/styles/main.css
  resources/lang/de.json
  resources/lang/en.json
  resources/lang/es.json
  resources/lang/fr.json
  resources/lang/it.json
  resources/lang/nl.json
  resources/lang/pt.json
  resources/lang/ru.json
  resources/lang/zh.json
Labels: backend, language
